.DS_Store
backend_*.txt
frontend_*.txt
nginx_*.txt
project_*.txt
claude_backend_*.txt
claude_frontend_*.txt
claude_nginx_*.txt
claude_project_*.txt
Migration_*.txt

node_modules
backend/layouts/*.json
backend/schedules/*.json
backend/templates/*.json
backend/config/*.json
backend/config/*.key
/dist
nginx/logs/*.log
nginx/ssl/*.pem
bak/*

backend/schedules/history/*.pdf
backend/venv
frontend/package-lock.json

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Backend specific
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.env
