# Grafana PDF Reporter Version
GPR_VERSION=1.1.4

# Backend
LOGLEVEL=debug
TZ=Europe/Berlin
# Secret key for token generation
SECRET_KEY='77oYKYadaKkYGsbvr6sWGRczQ1Xu8T6bGl4TW5kIfD8='

# Frontend
VITE_API_URL=https://localhost/api

# NGINX
HTTP_PORT=80
HTTPS_PORT=443

# -- DONT CHANGE --
HOST=0.0.0.0
PORT=8000
NODE_ENV=production
